{{ ansible_managed|comment }}
{{ odoo_ansible_managed|comment }}

## Odoo Configuration File
[options]
{% for key, value in ODOO_CONFIG.conf.items() %}
{%   if value is boolean %}
{{ key }} = {{ 'True' if value | bool else 'False' }}
{%   else %}
{{ key }} = {{ value }}
{%   endif %}
{% endfor %}
